@page
@model SparkAuto.Areas.Identity.Pages.Account.VerfiyEmailModel


<h1>Confirm Email Address</h1>
<div>
    <p>
        Confirm your email before proceding!
        <br />
        If you havent received any email please check your spam folder!
    </p>
</div>