
<div class="row">
    <div class="col-6">
        <button type="submit" class="btn btn-danger form-control">Delete</button>
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>
