@page
@model SparkAuto.Pages.ServiceTypes.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Service Type</h2>
<br />
<form method="post">
    <div class="border backgroundWhite">
        <input type="hidden" asp-for="ServiceType.Id" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ServiceType.Name"></label>
            </div>
            <div class="col-5">
                <input asp-for="ServiceType.Name" class="form-control" />
            </div>
            <span asp-validation-for="ServiceType.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ServiceType.Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="ServiceType.Price" class="form-control" />
            </div>
            <span asp-validation-for="ServiceType.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
